body{
    background-image: url(../images/bground3.avif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100%;
    width: 100%;
}

.cards { 
    color: white;
   display: grid;
   flex-wrap: flex;
   justify-content: center;
   text-align: center;
   padding-right: 16vh;  
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 95px;
   grid-row-gap: 55px;
    margin: 55vh auto;
   margin-top: 10vh;
   margin-bottom: 10vh;
   opacity: 0.75;
   padding: 8px; 
   border-top: 15rem;
   border-top-left-radius: 15rem;
   border-top-right-radius: 15rem;
   border-bottom-left-radius: 3rem ;
   border-bottom-right-radius: 3rem;
} 

.btn2 {
    background-color: rgb(5, 5, 5);
    border: rgb(194, 189, 189) 1px solid;
   position:relative;
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(0, 0, 0);
   background: rgb(255, 255, 255);
   cursor: pointer;
   z-index: 0;
   border-radius: 10px;
   left: 180vh;
}

.btn2:hover {
    box-shadow: inset 0px 3px 5px rgb(80, 80, 80), 0px 0px 10px rgb(255, 255, 255);
}


.conteinerFilterOrders {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.margin {
    margin: 2vh 4vh;
}


.btn1 {
    background-color: rgb(5, 5, 5);
    border: rgb(194, 189, 189) 1px solid;
   position:relative;
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(0, 0, 0);
   background: rgb(255, 255, 255);
   cursor: pointer;
   z-index: 0;
   border-radius: 10px;
   top: 4vh ;
   left: 3vh;
}

.btn1:hover {
    box-shadow: inset 0px 3px 5px rgb(80, 80, 80), 0px 0px 10px rgb(255, 255, 255);
}